fastparquet~=2024.5
flask~=3.0
google-cloud-documentai~=2.33
google-cloud-logging~=3.11
google-cloud-storage~=2.18
gunicorn~=23.0
opencv-python~=4.10
openpyxl~=3.1
pandas~=2.2
pdf2image~=1.17
pyarrow~=18.1
