fastparquet~=2024.2
flask~=3.0
google-cloud-documentai~=2.27
google-cloud-logging~=3.10
google-cloud-storage~=2.16
gunicorn~=22.0
opencv-python~=4.9
openpyxl~=3.1
pandas~=2.2
pdf2image~=1.17
pyarrow~=16.0
