opencv-python==4.7.*
pandas==1.5.*
pdf2image==1.16.*
fastparquet==2023.2.0
flask==2.2.*
google-cloud-documentai==2.12.*
google-cloud-logging==3.5.*
google-cloud-storage==2.7.*
gunicorn==20.1.*
pyarrow==11.*
